.statistics {
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;

  width: max-content;

  border: solid 1px black;

  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.title {
  text-align: center;
}

.list {
  margin: 0;
  padding: 10px;
  display: flex;

  list-style: none;

  border: solid 2px black;
  box-shadow: 5px 5px 15px 5px #000000;
  background-color: white;
}

.item {
  padding: 5px;

  width: 60px;

  display: grid;
  justify-content: space-evenly;
  justify-items: center;

  background-color: chocolate;
}

.label {
  margin-bottom: 20px;
  font-family: fantasy;
}
